/LeituraCSV/build/
/UsuarioSerializado/nbproject/private/
/UsuarioSerializado/build/
/FlyweightBrowser/build/
/FlyweightBrowser/nbproject/private/
/PesoMoscaExemplo/build/
/PesoMoscaExemplo/nbproject/private/
/Cadeia_de_Responsabilidade/Pagamentos/nbproject/private/
/Cadeia_de_Responsabilidade/Pagamentos/build/
/Cadeia_de_Responsabilidade/Pagamentos/dist/
/Cadeia_de_Responsabilidade/Caixa_Automatico/Caixa/nbproject/private/
/Cadeia_de_Responsabilidade/Caixa_Automatico/Caixa/build/